<% title _("Tasks") %>
<% title_actions help_path%>

<style>
  .task-id {
    white-space: nowrap;
  }
  .param-name {
    display: inline-block;
    width: 10em;
  }

  .task-details pre {
    white-space: pre;
    word-break: normal;
  }
</style>

<script>
$(document).on('click', ".table-two-pane td.two-pane-link", function(e) {
  var item = $(this).find("a");
  if(item.length){
    e.preventDefault();
    two_pane_open(item);
  }
});

</script>
<table class="table table-bordered table-striped table-two-pane">
  <tr>
    <th><%= _("Id") %></th>
    <th><%= _("Action") %></th>
    <th><%= _("State") %></th>
    <th><%= _("Result") %></th>
    <th><%= sort :started_at, :as => _("Started at") %></th>
    <th><%= _("User") %></th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td class="task-id two-pane-link"><%= link_to_if_authorized(h(task.id), hash_for_foreman_tasks_task_path(:id => task)) %></td>
      <td><%= task.humanized[:action] %> <%= format_task_input(task.humanized[:input]) %></td>
      <td><%= task.state %></td>
      <td><%= task.result %></td>
      <td><%= task.started_at %></td>
      <td><%= task.username %></td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @tasks %>
<%= will_paginate @tasks %>
