<% content_for(:javascripts) do %>
    <%= webpacked_plugins_js_for :'foreman-tasks' %>
<% end %>
<% content_for(:stylesheets) do %>
    <%= webpacked_plugins_css_for :'foreman-tasks' %>
<% end %>
<% content_for(:before_search_bar) do %>
  <div id="tasks-dashboard"></div>
  <%= mount_react_component('TasksDashboard', '#tasks-dashboard', {
      yo: 'ya'
  }.to_json) %>
<% end %>

<% title _("Tasks") %>
<% title_actions csv_link, help_button %>
<% stylesheet 'foreman_tasks/tasks' %>

<table class="<%= table_css_classes('table-fixed') %>">
  <tr>
    <th class="col-md-4"><%= _("Action") %></th>
    <th class="col-md-1"><%= _("State") %></th>
    <th class="col-md-1"><%= _("Result") %></th>
    <th class="col-md-2"><%= sort :started_at, :as => _("Started at") %></th>
    <th class="col-md-2"><%= sort :ended_at, :as => _("Ended at") %></th>
    <th class="col-md-2"><%= _("User") %></th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td class="task-id ellipsis">
        <%= link_to_if_authorized(format_task_input(task),
                                  hash_for_foreman_tasks_task_path(:id => task)) %>
      </td>
      <td class="ellipsis"><%= task.state %> <%= _("(Disabled)") if task.frozen %></td>
      <td class="ellipsis"><%= task.result %></td>
      <td class="ellipsis"><%= task.started_at.try(:in_time_zone) %></td>
      <td class="ellipsis"><%= task.ended_at.try(:in_time_zone) %></td>
      <td class="ellipsis"><%= task.username %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate_with_info @tasks %>
