<% title _("Tasks") %>
<% title_actions SETTINGS[:version].short <= '1.13' ? help_path : help_button %>
<% stylesheet 'foreman_tasks/tasks' %>

<script>

var currentTwoPaneTask;

$(document).on('click', ".table-two-pane td.two-pane-link", function(e) {
  currentTwoPaneTask = $(this).find("a");
  if(currentTwoPaneTask.length){
    e.preventDefault();
    two_pane_open(currentTwoPaneTask);
  }
});

</script>
<table class="<%= table_css_classes('table-fixed table-two-pane') %>">
  <tr>
    <th class="col-md-4"><%= _("Action") %></th>
    <th class="col-md-1"><%= _("State") %></th>
    <th class="col-md-1"><%= _("Result") %></th>
    <th class="col-md-2"><%= sort :started_at, :as => _("Started at") %></th>
    <th class="col-md-2"><%= sort :ended_at, :as => _("Ended at") %></th>
    <th class="col-md-2"><%= _("User") %></th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td class="task-id two-pane-link ellipsis">
        <%= link_to_if_authorized(format_task_input(task, true),
        hash_for_foreman_tasks_task_path(:id => task)) %>
      </td>
      <td class="ellipsis"><%= task.state %></td>
      <td class="ellipsis"><%= task.result %></td>
      <td class="ellipsis"><%= task.started_at.try(:in_time_zone) %></td>
      <td class="ellipsis"><%= task.ended_at.try(:in_time_zone) %></td>
      <td class="ellipsis"><%= task.username %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate_with_info @tasks %>
