<% title _("Tasks") %>
<% title_actions help_path%>

<style>
  .param-name {
    display: inline-block;
    width: 10em;
  }

  .task-details pre {
    white-space: pre;
    word-break: normal;
  }
</style>

<script>

var currentTwoPaneTask;

$(document).on('click', ".table-two-pane td.two-pane-link", function(e) {
  currentTwoPaneTask = $(this).find("a");
  if(currentTwoPaneTask.length){
    e.preventDefault();
    two_pane_open(currentTwoPaneTask);
  }
});

</script>
<table class="table table-bordered table-striped table-two-pane">
  <tr>
    <th><%= _("Action") %></th>
    <th><%= _("State") %></th>
    <th><%= _("Result") %></th>
    <th><%= sort :started_at, :as => _("Started at") %></th>
    <th><%= _("User") %></th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td class="task-id two-pane-link">
        <%= link_to_if_authorized(trunc_with_tooltip(format_task_input(task, true), 80),
        hash_for_foreman_tasks_task_path(:id => task)) %>
      </td>
      <td><%= task.state %></td>
      <td><%= task.result %></td>
      <td><%= task.started_at %></td>
      <td><%= task.username %></td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @tasks %>
<%= will_paginate @tasks %>
