<div class="task-details">
  <%= form_for @task, :url => "#" do %>
    <div>
      <span class="param-name"><%= _("Id") %>:</span>
      <span class="param-value"><%= @task.id %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Label") %>:</span>
      <span class="param-value"><%= @task.label %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Name") %>:</span>
      <span class="param-value"><%= @task.humanized[:action] %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Owner") %>:</span>
      <span class="param-value"><%= @task.username %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Started at") %>:</span>
      <span class="param-value"><%= @task.started_at %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Ended at") %>:</span>
      <span class="param-value"><%= @task.ended_at %></span>
    </div>
    <div>
      <span class="param-name"><%= _("State") %>:</span>
      <span class="param-value"><%= @task.state %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Result") %>:</span>
      <span class="param-value"><%= @task.result %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Params") %>:</span>
      <span class="param-value"><%= format_task_input(@task.humanized[:input]) %></span>
    </div>
    <div>
      <span class="param-name"><%= _("Progress") %>:</span>
      <span class="param-value">
        <div class="progress progress-striped">
          <div class="bar" style="width: <%= 100 * @task.progress %>%;"></div>
        </div>
    </div>
    <% if @task.cli_example %>
      <div>
        <span class="param-name"><%= _("CLI Example") %>:</span>
        <span class="param-value">
          <pre><%= @task.cli_example %></pre>
        </span>
      </div>
    <% end %>
    <div>
      <span class="param-name"><%= _("Output") %>:</span>
      <span class="param-value">
        <pre><%= @task.humanized[:output] %></pre>
      </span>
    </div>
    <div>
      <span class="param-name"><%= _("Raw input") %>:</span>
      <span class="param-value">
        <pre><%= @task.input.pretty_inspect %></pre>
      </span>
    </div>
    <div>
      <span class="param-name"><%= _("Raw output") %>:</span>
      <span class="param-value">
        <pre><%= @task.output.pretty_inspect %></pre>
      </span>
    </div>
    <div>
      <span class="param-name"><%= _("External Id") %>:</span>
      <span class="param-value"><%= @task.external_id %></span>
    </div>
  <% end %>
</div>
