<div class="form-group ">
  <label class="col-md-2 control-label"><%= _('Schedule') %></label>
  <div class="col-md-6">
    <% javascript 'foreman_tasks/foreman_tasks' %>
    <% stylesheet 'foreman_tasks/foreman_tasks' %>

    <%= javascript_tag do %>
      $(function() { trigger_form_selector_binds('<%= f.options[:html][:id] %>','<%= f.object_name %>') });
    <% end %>

    <%= fields_for :triggering, triggering do |trigger_fields| %>
      <%= radio_button_f trigger_fields, :mode, :class => 'trigger_mode_selector', :value => 'immediate', :text => _("Execute now") %>
      <%= radio_button_f trigger_fields, :mode, :class => 'trigger_mode_selector', :value => 'future',    :text => _("Schedule future execution") %>
      <%= radio_button_f trigger_fields, :mode, :class => 'trigger_mode_selector', :value => 'recurring', :text => _("Set up recurring execution") %>
  </div>
</div>

<div class="trigger_fields">
  <%= future_mode_fieldset trigger_fields, triggering %>
  <%= recurring_mode_fieldset trigger_fields, triggering %>
</div>
<% end %>

